/* smooth scroll */
html{
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "Arial Nova", sans-serif;
    box-sizing: border-box;
}
.container-fluid{
  margin: 0;
  padding: 0;
}
ul li{
  list-style-type: none;
  
}
/* Navbar */
.navbar{
    margin-top: 10px;
    margin-bottom: 10px;
}
.navbar a{
    text-transform: uppercase;
    font-size: 14px !important;
}
.topnav a:hover{
    color:#1a2ccc !important;    
    font-weight: bold;
}

/* Navbar scrollspy */
#mainNav  .nav-item .nav-link.active{
    border-style: solid;
    border-left: none;
    border-right: none;  
    border-top: none;
    color:#1a2ccc !important;
    border-bottom-width: 4px;
    font-weight: bold;
  } 

  /* ON SCROLL HOME NAV Section */
.navvy{
  background:transparent !important;
}

.scroll-navvy {
  background: #7272a6 !important;
  transition: 0.2s ease-out;
  height: 80px;
  background: #7272a6 !important;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.5);
}

.scroll-navvy .active .nav-link:hover {
      color:white;
  }

  .scroll-navvy .nav-link,
  .scroll-navvy .navbar-brand {
    color: #fff !important;
  }

  /* CAROUSEL  */
  #carousel{
    position: relative;
    background-size: cover;
    height: 100vh;
  }
  .carousel img{
      width: 100%;
      height: 80vh;
  }

  /* CAROUSEL CAPTION */
  .carousel-caption {
    position: absolute;
    right: 15%;
    top:-10px !important;
    left: 15%;
    padding-bottom: 20px;
    color: #fff;
    text-align: center
}
.carousel-caption h1{
   margin-top: 40px !important;
   background-color: rgba(211, 208, 208, 0.3);
   font-size: 50px;
   text-align: center;
   margin: auto;
   padding: 10px 0px 10px 0px;
    
}
.carousel-caption img{
    width:35%;
    right: 10%;
    height:40%;
}

  /* IMAGE FOR MOBILE INSTEAD OF CAROUSEL */
  .carou img {
    width: 100%;
    height: 80vh;
  }

  .carou{
      display: none;
  }

  /* OVERLAY */
  .overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background-color: #080d15;
    opacity: 0.7;
}

/* About us */
.para{
  font-size: 20px;
  line-height: 40px;
}

 /* What We Do */
 .card{
   overflow: hidden;
 }
 .card-img-bottom{
   height: 200px;
 }
 #whatwedo .row{
   padding-left: 70px;
 }

 /* Contact */
#contactus ul li{
  list-style-type: none;
}
.form-contact{
  font-size: 20px;
}
.form-contact a{
  font-size: 20px !important;
}
 /* footer */
 .footer{
    font-weight: bold;
    font-size: 20px;
 }

  /* FOR MOBILE VIEW AND TABLET */
  @media  screen and (max-width:990px){
      .carou{display: block;}
      .carousel-inner{display: none;}
      .carousel-control-prev{display: none;}
      .carousel-control-next{display: none;}
      .carousel-caption{text-align: center;}
      #mainNav  .nav-item .nav-link.active{border-bottom: none}
      .navvy{
        background:#1a2ccc !important;
      }
  }

  @media screen and (min-width:768px){
    .container{
        margin-left: 60px !important;
        margin-right: 0px !important;
    }
  }
  .fa-arrow-down{
    animation: arrow 1s infinite;
    padding-top: 50px !important;
    color:#1a2ccc !important;
  }
  .arrow-down a:hover{
      text-decoration: none;
  }
  
  @keyframes arrow{
    0%{transform: scale(1.2);}
    100%{transform: scale(1.6);}
  }